.Form {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.Form__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  padding-right: 120px;
  font-size: 18px;
  line-height: 26px;
  background: #2f2f2f;
  color: #afafaf;
}

.Form__input:focus {
  opacity: 0.9;
  box-shadow: inset 0 0 5px 0 #fff;
  color: #fff;
}

.Form__button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 120px;
  padding: 0;
  border: 0;
  outline: 0;
  background: #4caf50;
  color: #317234;
  font-size: 18px;
  cursor: pointer;
}

.Form__button:hover,
.Form__button:focus {
  opacity: 0.9;
  box-shadow: inset 0 0 5px 0 #fff;
}
