.Spinner {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  transform-origin: center center;
  animation: rotating 3s linear infinite;
}

@keyframes rotating {
  100% {
    transform: rotate(360deg);
  }
}
