.Layout {
  display: table;
  width: 100%;
  height: 100%;
}

.Layout__row {
  display: table-row;
  width: 100%;
  height: 100%;
}

.Layout__cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.Layout__container {
  display: inline-block;
  vertical-align: middle;
  max-width: 640px;
  min-width: 320px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #383838;
}
