.Card {
  display: table;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.Card__wrapper {
  display: table-row;
  width: 100%;
  background-color: #eab96e;
  transition: background-color 0.1s ease;
}

.Card__wrapper:hover {
  background-color: #ef5e5e;
  cursor: pointer;
}

.Card__section {
  position: relative;
  display: table-cell;
  box-sizing: border-box;
  height: 100%;
  min-width: 120px;
  vertical-align: middle;
  padding: 15px 20px;
  text-align: right;
}

.Card__section:first-child {
  width: 100%;
  text-align: left;
}

.Card__title {
  font-size: 22px;
  font-weight: bold;
}

.Card__notice {
  color: #f8e6cb;
}

.Card__title + .Card__notice {
  margin-top: 3px;
}

.Card__value {}

.Card__wrapper:hover .Card__value {
  display: none;
}

.Card__label {
  display: none;
}

.Card__wrapper:hover .Card__label {
  display: block;
}


