@font-face {
  font-family: Lato;
  src: url('./fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: Lato;
  src: url('./fonts/Lato-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: Lato;
  src: url('./fonts/Lato-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: Raleway;
  src: url('./fonts/Raleway-Regular.ttf');
}

@font-face {
  font-family: Raleway;
  src: url('./fonts/Raleway-Bold.ttf');
  font-weight: bold;
}


html {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #1a1a1a fixed url(./images/bg.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: Raleway, Lato, sans-serif;
}

h2 {
  margin: 0;
  padding: 0;
  font-family: Raleway, Lato, sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:active,
a:focus {
  outline: 0;
  text-decoration: none;
}

a img {
  border: 0;
  vertical-align: middle;
}

input {
  padding: 0;
  border: none;
}

button,
input,
textarea {
  font: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

:focus {
  outline: 0;
}

#root {
  display: 100%;
  height: 100%;
}
